<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <div class="width">
        <h1 class="middle">Register</h1>
        <partial name="RegisterPartial" class="block"/>
        <h1 class="middle">Login</h1>
        <br>
        <partial name="LoginPartial" class="block" />
        <br>
    </div>
</body>
